#buscar{
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: block;
  padding-top: 20px;
  float: right;
}
.form-buscar{
}
.form-buscar button{
  position: relative;
  margin: 0;
  border-radius: 0;
  padding: 3px;
  float: right;
   margin-right: 50px;
   border: 2px solid #eeb902;
}
.form-buscar input{
  position: relative;
  padding: 0px;
  border: 2px solid rgb(156, 155, 155);
  float: right;
}

