<!-- Left Sidebar-->
<div class="left-sidebar sidebar-dark">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li><a [routerLink]="['/home']"><i class="fa fa-home"></i><span class="hide-menu">Inicio</span></a></li>

                <li><a [routerLink]="['/empresa']"><i class="fa fa-briefcase"></i>Empresa</a></li>

                <li><a [routerLink]="['/item']"><i class="fa fa-table"></i>Tipos de despesas</a></li>

                <li><a [routerLink]="['/despesas']"><i class="fa fa-suitcase"></i>Despesas</a></li>

                <li><a [routerLink]="['/rendimento']"><i class="fa fa-bar-chart"></i>Rendimento</a></li>


                <li><a [routerLink]="['/poupanca']"><i class="fa fa-wpforms"></i>Poupan&ccedil;a</a></li>

                <li><a [routerLink]="['/estatistica']"><i class="fa fa-bar-chart"></i>Resumo Financeiro</a></li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
<!-- Fim Sidebar -->