<body class="fix-header fix-sidebar">
    <div class="main-wrapper">
        <!--Cabecalho-->
        <app-header></app-header>
        <!--Fim Cabecalho-->

        <!--Menu de navegacao-->
        <app-sidebar></app-sidebar>
        <!--Fim navegacao-->

        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Seja bem vindo</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">EMPRESA</a></li>
                        <li class="breadcrumb-item active">REGISTO</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- formulario de empresa -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4 *ngIf="!submit"><i class="fa fa-briefcase"></i>&nbsp;REGISTO DE EMPRESA</h4>
                                <h4 *ngIf="submit"><i class="fa fa-briefcase"></i>&nbsp;EDITAR DE EMPRESA</h4>
                                <a (click)="nova()" *ngIf="submit" class="link link-primary pull-right">NOVA EMPRESA</a>
                            </div>
                            <div class="card-body">
                                <div class="basic-elements">
                                    <!--Mensagens de sucesso e insucesso-->
                                    <div class="alert alert-danger alert-dismissible fade show" *ngIf="errors">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>RESULTADO!</strong>&nbsp;{{errors}}
                                    </div>
                                    <div class="alert alert-success alert-dismissible fade show" *ngIf="sucesso">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>RESULTADO!</strong>&nbsp;{{sucesso}}
                                    </div>
                                    <!--Fim de Mensagens de sucesso e insucesso-->
                                    <form [formGroup]="form" (ngSubmit)="registar()">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Nome da empresa</label>
                                                    <input type="text" formControlName="nome_empresa" id="nome" class="form-control input-default" name="nome_empresa" required="true">
                                                    <input type="hidden" formControlName="id" id="id" class="form-control input-default" name="id" value="form.nome_empresa">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Descri&ccedil;&atilde;o</label>
                                                    <textarea id="descricao" formControlName="descricao" class="form-control input-default" rows="3" name="descricao" required="true">
                                                        {{teste}}
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <button *ngIf="!submit" class="btn btn-info btn-sm" type="submit" [disabled]="!form.valid" name="regista_empresa"><i class="fa fa-save"></i>&nbsp;&nbsp;REGISTAR</button><br>
                                        <button *ngIf="submit" class="btn btn-success btn-sm" type="submit" [disabled]="!form.valid" name="regista_empresa"><i class="fa fa-edit"></i>&nbsp;&nbsp;SALVAR</button><br>
                                        <hr>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# row -->
                <div class="row" *ngIf="empresa">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4><i class="fa fa-briefcase"></i>&nbsp;EMPRESAS REGISTADAS</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-elements">
                                    <!--Mensagens de sucesso e insucesso-->
                                    <div class="alert alert-danger alert-dismissible fade show" *ngIf="errors_resposta">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>RESULTADO!</strong>&nbsp;{{errors_resposta}}
                                    </div>
                                    <div class="alert alert-success alert-dismissible fade show" *ngIf="sucesso_resposta">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>RESULTADO!</strong>&nbsp;{{sucesso_resposta}}
                                    </div>
                                    <!-- Fim Mensagens de sucesso e insucesso-->

                                    <table class="table table-sm table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>Nome da empresa</th>
                                                <th>Descri&ccedil;&atilde;o</th>
                                                <th>Qu&ecirc; Fazer?</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let dados of empresa">
                                                <td>{{dados.nome_empresa}}</td>
                                                <td>{{dados.descricao}}</td>
                                                <td>
                                                    <a (click)="EditarEmpresa(dados)" class="link link-info "><i class="fa fa-edit"></i>&nbsp;EDITAR</a>
                                                    <a (click)="eliminar(dados.id)" class="link link-danger btn-sm"><i class="fa fa-trash"></i>&nbsp;ELIMINAR</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End PAge Content -->
            </div><br><br><br><br><br><br><br><br><br><br><br><br>
            <!-- End Container fluid  -->
        </div>
        <!-- End Page wrapper  -->
    </div>
</body>